#container{
  background-image:url('photo/1.jpg');
  background-repeat: no-repeat;
  background-size: cover
  font : 1.2rem Times,"Fira Sans",serif;
  color:#55529A;}

.part1{
  font-family: Georgia, "Times New Roman",Times, serif;
  margin:0;
  text-align:center;
}

#content {
display: flex;
height:40px;
margin-right:45px;
color:#A88FCB;
}

#content li{
  flex:1;
  display: inline;
  margin:0;
  text-align: center;
  border:thick double #060270;
}
.fruit{
 display:inline-block;
 float: left;
}


button{
  width:120px;
  background-color:#CBCAF6;
  border-color: #9E9AFF;
  margin:10px,0;
}

.fruit{
  float:left;
  height:250px;
  margin:5%;
}

#mangosteen{width:200px;height:200px;}
#grape{width:200px;height:200px;}
#blueberry{width:200px;height:200px;}
#forgetmenot{width:200px;height:200px;}
#daisy{width:200px;height:200px;}
#lavender{width:200px;height:200px;}
#hamster{width:200px;height:200px;}
#rabbit{width:200px;height:200px;}
#lesserpanda{width:200px;height:200px;}



a:link{
  color:#413F73;
  text-decoration : none;
}
a:hover{
  color:#463FFC;
  text-decoration : none;
}
a.visited{
  color:#413F73;
  text-decoration : none;}

#final_socre{
  width:160px;
  background-color: white;
  position: fixed;
  text-align:center;
  border-radius: 20px  1px  1px 20px;
  font-family: Georgia;
  font-size: 1em;
}
#former{
  margin-right: 40px;
}
